<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>

<script>
$(function(){
  $('ul').each(function(){
    $('a', this).magnificPopup({
      type: 'image',
      gallery: {
        enabled: true
      }
    });
  });
});
</script>

<!--GA script here-->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '531535468bfdf75816001d48');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>

</html>
